@use 'base/mixins' as m;

.header {
    padding: 5rem 0;

    &__grid {
        align-items: center;
        display: flex;
        flex-direction: column;

        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__logo {
        margin-bottom: 3rem;
        width: 30rem;

        @include m.tablet {
            margin-bottom: 0;
        }
    }
}